<div class="row">
  <div class="large-10 columns">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<h3>Listing sailboats</h3>


<div class="container">
    <div class="spacer">
    </div>

<%= render 'layouts/sailboatlistings' %>
    <div class="spacer">
    </div>
  </div>
  </div>
    <div class="large-2 columns">
        <%= render 'layouts/facets' %>
    </div>
</div>

