/* Defining the listing grid */

div.container {
    /* border: 2px dashed #d0d0d0; */
    background-color: #effffd;
}

div.spacer {
    clear: both;
}
/* Standard listing treatment */

div.float {
    float: left;
    padding: 20px;
}

div.float p {
    text-align: center;
    font-size: small;
}


/* This is where we control the featured listing css */

div.featured {
    float: left;
    padding: 20px;
    background-color: #e757ff;
}

div.featured p {
    text-align: center;
    font-size: small;
}