<div class="container">
  <div class="spacer">
  </div>

  <% @sailboats.each do |s| %>
        <% if s.featured %>
            <div class="featured">
              <%= link_to image_tag(s.photo.url(:small)), '/sailboats/' + s.id.to_s  %>
              <br />
              <p><%= s.length.to_s + "ft" + " " + s.manufacturer + " " + s.model %></p>
            </div>
        <% else %>
          <div class="float">
            <%= link_to image_tag(s.photo.url(:small)), '/sailboats/' + s.id.to_s  %>
            <br />
            <p><%= s.length.to_s + "ft" + " " + s.manufacturer + " " + s.model %></p>
          </div>
      <% end %>


  <% end %>



  <div class="spacer">
  </div>
</div>

