<div class="container">
  <div class="spacer">
  </div>

  <% @sailboats.each do |sailboat| %>
      <div class="float">
        <img src="image1.gif" width="200" height="200"
             alt="image 1" /><br />
        <p><%= sailboat.length.to_s + "ft" + " " + sailboat.manufacturer + " " + sailboat.model %></p>
      </div>

  <% end %>



  <div class="spacer">
  </div>
</div>